PORT=3009
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.vy1g43n.mongodb.net/wowlife_notifications?retryWrites=true&w=majority

# Generate once with: npm run generate-vapid
VAPID_EMAIL=admin@wowlife.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
